<!DOCTYPE html>
<html data-theme="light">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body class="bg-base-300 min-h-screen">
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl" href="{{ path('app_send_letter') }}">smartheads</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="{{ path('app_send_letter') }}">Send letter</a></li>
                {% if app.user %}
                    <li><a href="{{ path('app_letter') }}">Letters</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('app_registration') }}">Registration</a></li>
                    <li><a href="{{ path('app_login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="flex justify-center">
        <div class="container p-5">
            {% block body %}{% endblock %}
        </div>
    </div>
    </body>
</html>
